
Site Name:     <%= @alarm.site.name %>
Alarm Level:   <%= @alarm.level_txt %>
Alarm Date:    <%= @alarm.event_time %>
Channel:       <%= @alarm.channel.channel_name %>
Measure:       <%= @alarm.measure.measure_label %>
Description:   <%= @alarm.descr %>

