th {
  background-color: #999;
}

td {
  background-color: #ccc;
}

td.spacer {
  background-color: #fff;
	height: 12px;
}

table {
	border-collapse: collapse;
	border-spacing: 10px;
	margin-left: auto;
	margin-right: auto;
}
