<h1>New switch</h1>

<% form_tag :action => 'switch_create' do %>
  <table>
    <%= render :partial => 'switch_form' %>
    <tr>
      <td><%= submit_tag "Create" %></td>
    </tr>
  </table>
<% end %>

